.nucleo-2 {
    /* establish containing block for absolutely positioned image */
    overflow: hidden;
}

.nucleo-2 .reproductor{
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: auto;
}

.nucleo-2 .reproductor img {
    position: relative;
    width: 100%;       
    height: auto;
}

.nucleo-2 .reproductor .contenedor-botones{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
} 

/* Desktop full screen*/
@media (max-width: 1920px){

}

/* Old Desktop*/
@media (max-width: 1024px){

}